/* 
Toutes vos classes CSS doivent être préfixées par le nom de votre composant.
Pour éviter les conflits de nommage avec les autres composants.
Vous devez commencer par .Cookie pour les classes CSS de ce composant. 
*/
.Cookie {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
